<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <connectionStrings>
    <add name="access_con" connectionString="Provider=Microsoft.Jet.Oledb.4.0;data source="/>
    <add name="access_path" connectionString="~/App_Data/db.mdb"/>
  </connectionStrings>
</configuration>
